<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book|  %>
      <tr id="index_post_<%= book.id %>">
        <%= render 'books/index_post', book: book %>
      </tr>
    <% end %>
  </tbody>
</table>
