<%= render 'layouts/error_messages', model: @book %>

<div class="row">

  <%= render 'layouts/sidebar', user: current_user, book: @book %>

  <div class="col-xs-9">
    <h2>Books</h2>

    <%= render 'books_index', books: @books %>

  </div>

</div>